.RestaurantItem {
  background-color: #f8f7f4;
  font-family: "Playfair Display", serif;
}

.heading {
  color: #a08e55;
  display: flex;
  justify-content: flex-start;
}

h2 {
  color: #2f2424;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
}

.RestaurantItem__description {
  width: 602px;
}

.RestaurantItem h3 {
  font-size: 1.5em;
}
.RestaurantItem__p,
.RestaurantItem__a {
  color: #2f2424;
  border: 1px solid #a08e55;
  width: 50%;
  height: 50px;
}

.RestaurantItem__a,
.RestaurantItem__a:hover {
  color: #fff;
  background-color: #a08e55;
}

.RestaurantItem__a:hover {
  color: #2f2424;
}
