.EventItem {
  background-color: #f8f7f4;
  font-family: "Playfair Display", serif;
}

h1 {
  color: #a08e55;
  display: flex;
  justify-content: flex-start;
}

h2 {
  color: #2f2424;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
}

.EventItem__description {
  width: 602px;
}

.EventItem h3 {
  font-size: 1.5em;
}
.EventItem__p,
.EventItem__a {
  color: #2f2424;
  border: 1px solid #2f2424;
  width: 100%;
  height: 50px;
}

.EventItem__a,
.EventItem__a:hover {
  color: #fff;
  background-color: #a08e55;
}

.EventItem__a:hover {
  color: #2f2424;
}
